/.project
/.settings
/rolande
/rolande/*
/jasmine
/jasmine/*
/node_modules
/node_modules/*
/*~
/.monitor
/content
/rolande.js
/rolande-test.js
/public/css/.sass-cache
/cache
/snoop
/app.local.js
/DiscoBandits
/DiscoBandits/*
/KernDocs
/KernDocs/*
/visualz
/visualz/*
/projects
/projects/*
