
.g-d-c
{
  margin-left:auto;
  margin-right:auto;
  width:950px;
  zoom:1;
}

.g-all-c
{
  margin-left:auto;
  margin-right:auto;
  width:950px;
  zoom:1;
}

.g-d-sunken
{
  float:none!important;
}

.grid-wrapper
{
  margin-left:auto;
  margin-right:auto;
  width:970px;
}

#page
{
  -khtml-border-radius:15px;
  -moz-border-radius:15px;
  -moz-box-shadow:0 4px 5px rgba(107,107,107,0.3);
  -ms-border-radius:15px;
  -o-border-radius:15px;
  -o-box-shadow:0 4px 5px rgba(107,107,107,0.3);
  -webkit-border-radius:15px;
  -webkit-box-shadow:0 4px 5px rgba(107,107,107,0.3);
  background:#FFF;
  border-radius:15px;
  box-shadow:0 4px 5px rgba(107,107,107,0.3);
  margin-left:auto;
  margin-right:auto;
  padding-bottom:21px;
  position:relative;
  width:970px;
}

.g-d
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  zoom:1;
}

.g-d-1
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:30px;
  zoom:1;
}

.g-d-2
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:70px;
  zoom:1;
}

.l-2c .c-2 .g-all-1of4
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:70px;
  zoom:1;
}

.l-3c .c-3 .g-all-1of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:70px;
  zoom:1;
}

.l-3c .c-3 footer section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:70px;
  zoom:1;
}

footer .l-3c .c-3 section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:70px;
  zoom:1;
}

.l-3c .c-1 .g-all-1of4
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:70px;
  zoom:1;
}

.l-3c .c-2 .g-all-1of4
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:70px;
  zoom:1;
}

.g-d-3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.l-2c .c-2 .g-all-1of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.l-2c .c-2 footer section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

footer .l-2c .c-2 section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.l-3c .c-3 .g-all-half
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.l-3c .c-3 .g-all-half2full
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.l-3c .c-1 .g-all-1of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.l-3c .c-1 footer section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

footer .l-3c .c-1 section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.l-3c .c-2 .g-all-1of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.l-3c .c-2 footer section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

footer .l-3c .c-2 section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:110px;
  zoom:1;
}

.g-d-4
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:150px;
  zoom:1;
}

.l-2c .c-1 .g-all-1of4
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:150px;
  zoom:1;
}

.l-2c .c-2 .g-all-half
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:150px;
  zoom:1;
}

.l-2c .c-2 .g-all-half2full
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:150px;
  zoom:1;
}

.l-3c .c-3 .g-all-2of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:150px;
  zoom:1;
}

.l-3c .c-2 .g-all-half
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:150px;
  zoom:1;
}

.l-3c .c-2 .g-all-half2full
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:150px;
  zoom:1;
}

.g-d-5
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:190px;
  zoom:1;
}

.l-2c .c-2 .g-all-2of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:190px;
  zoom:1;
}

.l-3c .c-1 .g-all-half
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:190px;
  zoom:1;
}

.l-3c .c-1 .g-all-half2full
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:190px;
  zoom:1;
}

.l-3c .c-2 .g-all-2of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:190px;
  zoom:1;
}

.g-d-6
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:230px;
  zoom:1;
}

.l-1c .g-all-1of4
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:230px;
  zoom:1;
}

.l-2c .c-1 .g-all-1of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:230px;
  zoom:1;
}

.l-2c .c-1 footer section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:230px;
  zoom:1;
}

footer .l-2c .c-1 section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:230px;
  zoom:1;
}

.l-3c .c-3
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:5px;
  width:230px;
  zoom:1;
}

.l-3c .c-3 .g-all-full
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:230px;
  zoom:1;
}

.l-3c .c-3 .l-1c .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:230px;
  zoom:1;
}

.l-1c .l-3c .c-3 .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:230px;
  zoom:1;
}

.g-d-7
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:270px;
  zoom:1;
}

.l-3c .c-1 .g-all-2of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:270px;
  zoom:1;
}

.g-d-8
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:310px;
  zoom:1;
}

.l-1c .g-all-1of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:310px;
  zoom:1;
}

.l-1c footer section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:310px;
  zoom:1;
}

footer .l-1c section
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:310px;
  zoom:1;
}

.l-2c .c-1 .g-all-half
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:310px;
  zoom:1;
}

.l-2c .c-1 .g-all-half2full
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:310px;
  zoom:1;
}

.l-2c .c-2
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:0!important;
  width:310px;
  zoom:1;
}

.l-2c .c-2 .g-all-full
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:310px;
  zoom:1;
}

.l-2c .c-2 .l-1c .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:310px;
  zoom:1;
}

.l-1c .l-2c .c-2 .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:310px;
  zoom:1;
}

.l-3c .c-2
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:0!important;
  width:310px;
  zoom:1;
}

.l-3c .c-2 .g-all-full
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:310px;
  zoom:1;
}

.l-3c .c-2 .l-1c .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:310px;
  zoom:1;
}

.l-1c .l-3c .c-2 .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:310px;
  zoom:1;
}

.g-d-9
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:350px;
  zoom:1;
}

.g-d-10
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:390px;
  zoom:1;
}

.l-2c .c-1 .g-all-2of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:390px;
  zoom:1;
}

.l-3c .c-1
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:390px;
  zoom:1;
}

.l-3c .c-1 .g-all-full
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:390px;
  zoom:1;
}

.l-3c .c-1 .l-1c .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:390px;
  zoom:1;
}

.l-1c .l-3c .c-1 .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:390px;
  zoom:1;
}

.g-d-11
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:430px;
  zoom:1;
}

.g-d-12
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:470px;
  zoom:1;
}

.l-1c .g-all-half
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:470px;
  zoom:1;
}

.l-1c .g-all-half2full
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:470px;
  zoom:1;
}

.g-d-13
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:510px;
  zoom:1;
}

.g-d-14
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:550px;
  zoom:1;
}

.g-d-15
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:590px;
  zoom:1;
}

.g-d-16
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:630px;
  zoom:1;
}

.l-1c .g-all-2of3
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:630px;
  zoom:1;
}

.l-2c .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:5px;
  width:630px;
  zoom:1;
}

.l-2c .c-1 .g-all-full
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:630px;
  zoom:1;
}

.l-2c .c-1 .l-1c .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:630px;
  zoom:1;
}

.l-1c .l-2c .c-1 .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:630px;
  zoom:1;
}

.g-d-18
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:710px;
  zoom:1;
}

.g-d-20
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:790px;
  zoom:1;
}

.g-d-22
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:870px;
  zoom:1;
}

.g-d-21
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:830px;
  zoom:1;
}

.g-d-23
{
  display:inline;
  float:left;
  margin-left:5px;
  margin-right:5px;
  width:910px;
  zoom:1;
}

.g-d-24
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:950px;
  zoom:1;
}

.l-1c .g-all-full
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:950px;
  zoom:1;
}

.l-1c .c-1
{
  clear:left;
  display:inline;
  float:left;
  margin-left:0!important;
  margin-right:0!important;
  width:950px;
  zoom:1;
}

.g-d:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-1:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-2:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2 .g-all-1of4:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3 .g-all-1of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3 footer section:after
{
  clear:both;
  content:"";
  display:table;
}

footer .l-3c .c-3 section:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1 .g-all-1of4:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2 .g-all-1of4:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2 .g-all-1of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2 footer section:after
{
  clear:both;
  content:"";
  display:table;
}

footer .l-2c .c-2 section:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3 .g-all-half:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3 .g-all-half2full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1 .g-all-1of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1 footer section:after
{
  clear:both;
  content:"";
  display:table;
}

footer .l-3c .c-1 section:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2 .g-all-1of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2 footer section:after
{
  clear:both;
  content:"";
  display:table;
}

footer .l-3c .c-2 section:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-4:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1 .g-all-1of4:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2 .g-all-half:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2 .g-all-half2full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3 .g-all-2of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2 .g-all-half:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2 .g-all-half2full:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-5:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2 .g-all-2of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1 .g-all-half:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1 .g-all-half2full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2 .g-all-2of3:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-6:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .g-all-1of4:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1 .g-all-1of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1 footer section:after
{
  clear:both;
  content:"";
  display:table;
}

footer .l-2c .c-1 section:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3 .g-all-full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3 .l-1c .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .l-3c .c-3 .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-7:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1 .g-all-2of3:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-8:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .g-all-1of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c footer section:after
{
  clear:both;
  content:"";
  display:table;
}

footer .l-1c section:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1 .g-all-half:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1 .g-all-half2full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2 .g-all-full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-2 .l-1c .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .l-2c .c-2 .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2 .g-all-full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-2 .l-1c .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .l-3c .c-2 .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-9:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-10:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1 .g-all-2of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1 .g-all-full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-1 .l-1c .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .l-3c .c-1 .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-11:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-12:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .g-all-half:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .g-all-half2full:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-13:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-14:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-15:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-16:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .g-all-2of3:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1 .g-all-full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-2c .c-1 .l-1c .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .l-2c .c-1 .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-18:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-20:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-22:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-21:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-23:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-24:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .g-all-full:after
{
  clear:both;
  content:"";
  display:table;
}

.l-1c .c-1:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-f
{
  clear:left;
  margin-left:0!important;
}

.g-all-f
{
  clear:left;
  margin-left:0!important;
}

.g-all-fl
{
  clear:left;
  margin-left:0!important;
  margin-right:0!important;
}

.g-d-l
{
  margin-right:0!important;
}

.g-all-l
{
  margin-right:0!important;
}

.g-d-p0
{
  padding-left:0;
}

.g-all-p0
{
  padding-left:0;
}

.g-d-a0
{
  padding-right:0;
}

.g-all-a0
{
  padding-right:0;
}

.g-d-p1
{
  padding-left:40px;
}

.g-d-only-p1
{
  padding-left:40px;
}

.g-all-p1
{
  padding-left:40px;
}

.g-d-a1
{
  padding-right:40px;
}

.g-d-only-a1
{
  padding-right:40px;
}

.g-all-a1
{
  padding-right:40px;
}

.g-d-p2
{
  padding-left:80px;
}

.g-d-only-p2
{
  padding-left:80px;
}

.g-d-a2
{
  padding-right:80px;
}

.g-d-only-a2
{
  padding-right:80px;
}

.g-d-p3
{
  padding-left:120px;
}

.g-d-a3
{
  padding-right:120px;
}

.g-d-p4
{
  padding-left:160px;
}

.g-d-a4
{
  padding-right:160px;
}

.g-d-p5
{
  padding-left:200px;
}

.g-d-a5
{
  padding-right:200px;
}

.g-d-p6
{
  padding-left:240px;
}

.g-d-a6
{
  padding-right:240px;
}

.g-d-p7
{
  padding-left:280px;
}

.g-d-a7
{
  padding-right:280px;
}

.g-d-p8
{
  padding-left:320px;
}

.g-d-a8
{
  padding-right:320px;
}

.g-d-push-6
{
  margin-left:240px!important;
}

.g-d-only-push-6
{
  margin-left:240px!important;
}

.g-d-push-8
{
  margin-left:320px!important;
}

.g-d-only-push-8
{
  margin-left:320px!important;
}

.l-2cr .c-1
{
  margin-left:320px!important;
}

.g-d-push-10
{
  margin-left:400px!important;
}

.g-d-only-push-10
{
  margin-left:400px!important;
}

.g-d-push-12
{
  margin-left:480px!important;
}

.g-d-only-push-12
{
  margin-left:480px!important;
}

.g-d-pull-24
{
  margin-left:-960px!important;
}

.g-d-only-pull-24
{
  margin-left:-960px!important;
}

.l-2cr .c-2
{
  margin-left:-960px!important;
}

.g-d-pull-22
{
  margin-left:-880px!important;
}

.g-d-only-pull-22
{
  margin-left:-880px!important;
}

.g-d-pull-18
{
  margin-left:-720px!important;
}

.g-d-only-pull-18
{
  margin-left:-720px!important;
}

.g-d-pull-12
{
  margin-left:-480px!important;
}

.g-d-only-pull-12
{
  margin-left:-480px!important;
}

.g-d-unadjust
{
  margin-left:0!important;
}

.d-anchored-top-right
{
  position:absolute;
  right:0;
  top:0;
}

.handheld-landscape-visible
{
  display:none;
}

.handheld-visible
{
  display:none;
}

.g-base-c
{
  margin-left:auto;
  margin-right:auto;
  zoom:1;
}

.g-h-c
{
  margin-left:auto;
  margin-right:auto;
  zoom:1;
}

.g-base-c:after
{
  clear:both;
  content:"";
  display:table;
}

.g-d-c:after
{
  clear:both;
  content:"";
  display:table;
}

.g-all-c:after
{
  clear:both;
  content:"";
  display:table;
}

.g-h-c:after
{
  clear:both;
  content:"";
  display:table;
}

.l-3c .c-3 .g-all-1of4
{
  background-color:red;
  color:red;
}
