// font-face fonts
// see http://compass-style.org/docs/reference/compass/css3/font_face/

//@import "compass/css3/font-face"
//@import url( "http://fonts.googleapis.com/css?family=Varela+Round" );
//@import url('http://fonts.googleapis.com/css?family=Rokkitt:400,700');

/*


@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/Open_Sans/opensans-regular-webfont.eot');
    src: url('../fonts/Open_Sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/Open_Sans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/Open_Sans/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/Open_Sans/opensans-bold-webfont.eot');
    src: url('../fonts/Open_Sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Open_Sans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/Open_Sans/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/Open_Sans/opensans-bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/Open_Sans/opensans-light-webfont.eot');
    src: url('../fonts/Open_Sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Open_Sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/Open_Sans/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/Open_Sans/opensans-light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/