@import "compass/css3";
@import "partials/ui/ui";




.button, button, input[type=button], input[type=submit] {
  @include simple-button(#f3f3f3);
  &.submit {
    @include simple-button(darken(#e0eee0, 5%)); }
  &.cancel {
    @include simple-button(#fafafa); }
  &.delete {
    @include simple-button(darken(#faf0f0, 5%)); } }

a.button {
  @include simple-button(#f3f3f3);
  &.submit {
    @include simple-button(darken(#e0eee0, 5%)); }
  &.cancel {
    @include simple-button(#fafafa); }
  &.delete {
    @include simple-button(darken(#faf0f0, 5%)); } }

input {
  &[type=text], &[type=password], &[type=mail], &[type=date], &[type=datetime], &[type=file] {
    @include simple-input(#f3f3f3); } }

textarea {
  @include simple-input(#f3f3f3); }


#dropbox {
  position: fixed;
  right: 0;
  top: 0;
  margin: $spacing;
  padding: $spacing;
  height: $header-height - ($spacing * 4);
  min-height: $header-height - ($spacing * 4);
  font-size: 10px;
  font-weight: bolder;
  z-index: 999;
  border: 1px dashed darken($body-color, 40%);
  @include box-shadow(darken($body-color, 20%) 0 0 $spacing inset);
  //@include background(linear-gradient(bottom, lighten($body-color, 5%), darken($body-color, 5%)));
  background: $body-color;
  @include transition(all 0.218s ease);
  &.over {
    min-height: 120px;
    width: 120px; }
  &.in {
    min-height: 300px;
    width: 300px; }
  .imageHolder{
    padding: 10px;
    margin: 9px;
    border: rgba(0, 0, 0, 0.5);
    display: block;
    overflow: hidden; } }
    

#dropbox {
  overflow: auto;
  .preview {
    padding: $spacing; }
  .imageHolder{ }
  .uploaded { }
  img {
    margin: auto;
    opacity: 0.5;
    background: no-repeat center;
    background-size: contain;
    width: 160px;
    height: 160px;
    display: block; 
    @include transition(opacity 0.218s); }
  .done img {
    opacity: 1; } }




.kern-fileinfo {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  display: block;
  overflow: visible;
  z-index: 9999;
  padding: 5px;
  
  width: 150px;
  
  background-color: #000;
  @include box-shadow(rgba(#000, 0.5) 0 0 6px);  
  a, label {
    color: #999; }
  .prop {
    clear: both;
    margin-bottom: 5px;
    span {
      background-color: #000;
      @include box-shadow(rgba(#000, 0.5) 0 0 6px);  
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      max-width: 140px;
      padding-right: 5px;
      @include transition(max-width 0.3);
      &:hover {
        max-width: 1000px; } }
    &:last-child {
      margin-bottom: 0; } } }

