@import "compass/css3";
@import "compass/utilities/general/float";
@import "compass/layout/sticky-footer";
@import "base";


@mixin header-font{
  font-family: OpenSansBold, sans-serif;
  font-weight: normal;
  font-style: normal;
}
script {
  display: none; }

body {
  background-color: $body-color;
  color: $font-color;
  font-family: Lucida, Tahoma, Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.3;
  font-size: 16px;
  position: absolute;
  width: 100%; }

h1, h2, h3, h4, h5, label, legend, dt {
  margin: 0.3em 0;
  padding: 0.3em 0;
  color: $link-color;
  @include header-font; }

h1, h2, h3 {
  color: $black;
  @include text-shadow($yellow -2px 1px 0, -2px -1px 0 $magenta, 1px 2px 0 $cyan); }
h4, h5, label, legend, dt {
  font-weight: 400; }

h1 {
  font-size: 2em; }
h2 {
  font-size: 1.8em; }
h3 {
  font-size: 1.4em; }
h4 {
  font-size: 1.2em; }

p {
  padding: 0.2em 0; }

dd {
  padding: 0.2em 0 0.2em 0.4em; }

a {
  &:link, &:active, &:visited {
    outline: none;
    color: $link-color;
    text-decoration: none;
    display: inline-block;
    padding: 0 0.1em; }
  &:hover {
    color: $link-hover-color; } }



a.ajax-processed {
  //background-color: rgba(#333, 0.4);
}

strong, th {
  font-weight: bold; }


// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0); }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

textarea {
  width: 100%;
  height: 60px;
  display: block; }

code, pre {
  padding: 0.5em;
  border: 1px solid #000;
  border-color: #000 #444 #444 #000;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  background: #111;
  color: #aaa;
  @include box-shadow(#333 0 0 120px inset);
  font-size: 0.9em;
  @include border-radius(2px);
  &.stack {
    font-size: 0.7em; } }

code {
  border: none;
  padding: 0;
  margin: 0; }

pre {
  margin: 0.5em; }


/*************************************************************\
 * Layout                                                    *
\*************************************************************/

// Top --------------------------------------------------------
#site, #logo-name, #logo-link, #site-name, #breadcrumb {
  overflow: visible;
  height: $header-height;
  @include float-left; }
#page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  height: $header-height;
  border-bottom: 1px solid darken($body-color, 20%);
  @include box-shadow(rgba(#000, 0.1) 0 3px 3px);
  @include background(linear-gradient(top, lighten($body-color, 5%), darken($body-color, 5%))); }
#site {
  width: 100%; }
#logo-name {
  padding: 0 $spacing;
  width: $navigation-width - (2 * $spacing); }
#logo-link {
  }
#logo {
  }
#site-name {
  @include text-shadow(none);
  a {
    color: transparent;
    @include text-shadow(1px -1px 0 $black, -2px 1px 0 $yellow, -2px -1px 0 $magenta, 1px 2px 0 $cyan);
    &:hover, &:active, &:visited {
      color: transparent; } } }
#breadcrumb {
  margin-top: 16px;
  height: $header-height - 16px;
  padding: 0 $spacing; }

.page-title {
  z-index: 45;
  position: fixed;
  left: $navigation-width;
  top: $header-height + 1px;
  padding: 0 $spacing;
  margin: 0;
  height: 50px;
  width: 100%;
  background-color: rgba($body-color, 0.8);
  border-bottom: $body-color 1px solid; }
// Middle -----------------------------------------------------
#page-middle {
  z-index: 98;
  width: 100%;
  bottom: 0;
  top: $header-height + 1px;
  position: relative; }
#navigation, #meta {
  bottom: 0;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: $header-height + 1px; }
#navigation, #content, #meta {
  .wrapper {
    overflow: hidden;
    padding: $spacing; } }
#navigation {
  z-index: 90;
  border-right: 1px solid darken($body-color, 20%);
  @include box-shadow(rgba(#000, 0.1) 3px 0 3px);
  @include background(linear-gradient(top, lighten($body-color, 5%), darken($body-color, 5%)));
  width: $navigation-width; }
#content {
  position: absolute;
  min-height: 100%;
  
  left: $navigation-width;
  right: $meta-width;
  .wrapper {
    padding-top: $header-height + 1px + ($spacing * 2); } }
#meta {
  z-index: 89;
  right: 0;
  width: $meta-width; }


















/*************************************************************\
 * UI                                                    *
\*************************************************************/



#messages {
  width: 80%;
  margin: auto;
}













.message {
  padding: 0.1em;
  margin-bottom: 0.1em;
  border: 1px dotted #aaa;
  background-color: #ccc;
  color: #333;
  &:last-child{
    margin-bottom: 0; }
  &.ok {
    border-color: #aca;
    background-color: #cfc;
    color: #393; }
  &.error {
    border-color: #caa;
    background-color: #fcc;
    color: #933; }
  &.server {
    font-style: italic; } }

#content {
	.children {
	  overflow: hidden; }
	.children li {
	  $box-width: 180px;
	  
	  @include float-left;
	  width: $box-width;
	  height: $box-width / 1.618;
	  margin: 0 4px 4px 0;
	  font-weight: bolder;
	  font-size: smaller;
	  position: relative;
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: 100%;
//	  @include box-shadow($font-color 0 0 5px inset);
//	  @include border-radius(($spacing / 1) );
	  
	  a {
	    word-wrap: break-word;
	    position: absolute;
	    bottom: 2px;
	    left: 2px;
	    right: 2px;
	    top: 2px;
	    padding: 4px;
	    outline: none;
	    
//	    @include border-radius(($spacing / 1) - 2px);
	    @include transition( all 0.218s ease );
	    vertical-align: bottom;
	    overflow: hidden;
	    
	    //@include box-shadow($yellow -2px 1px 0, -2px -1px 0 $magenta, 1px 2px 0 $cyan);
	    
	    
	    .inner {
	      position: absolute;
	      top: $spacing / 2;
	      left: $spacing / 2;
	      bottom: $spacing / 2;
	      right: $spacing / 2;
	      width: auto;
	      max-width: 100%;
	      margin-right: -110%;
	      margin-left: -110%;
//	      @include border-radius($spacing * 3);
	      @include transition( all (0.218s * 2) ease );
	      .title, .info {
	        position: absolute;
	        left: 0;
	        right: 0; }
	      .title {
	        top: 0; }
	      .count {
	        font-size: 200%;
	        font-style: italic; }
	      .info {
	        bottom: 0;
	        top: auto;
	        text-align: right; } }
	      
	    &:hover, &:focus {
	      background-color: darken($body-color, 40%);
	      outline: none;
	      .inner {
	        margin-right: 0; 
	        margin-left: 0; } } }
	  &.no-art a .inner {
	    margin-right: 0;
	    margin-left: 0; } }
}

#navigation {
	.child {
	  list-style: none;
	  padding: 0 0.2em;
	  border-bottom: 1px solid darken($body-color, 30%);
	  &:last-child {
	   border-bottom: none;
	  }
	  ul {
	   width: 100%;
	  }
	}
  .depth-1 {
   padding-left: 0.4em;
   ul {
    margin-left: -0.4em;
   }
  }
  .depth-2 {
   padding-left: 0.6em;
   ul {
    margin-left: -0.6em;
   }
}
  .depth-3 {
   padding-left: 0.8em;
   ul {
    margin-left: -0.8em;
   }
}
  .depth-4 {
   padding-left: 1em;
   ul {
    margin-left: -1em;
   }
  }
	
}